@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Serif&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.column{
    float: left;
    width: 33.3%;

}

.row::after{
    content: "";
    display: table;
    clear: both;
}

li, a, button {
    font-family: PT+serif;
     font-weight: 500;
     font-size: 16px;
     color: #020d13;
     text-decoration: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(#060607, #D1C4C0,  #5E6167, #AEB3BB);
    margin: 0%;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background-image: linear-gradient(#060607, #D1C4C0, #5E6167, #AEB3BB);
} 
.main-header h1{
font-family: serif;
padding-left: 15%;
}

.logo {
    width: 60px;
    padding: 0pt;
}
.navigation  {
    list-style: none;
}



.navigation li {
    display: inline-block;
    padding: 0 10px;
} 
.navigation li a{
    transition: all 0.3s ease 0s;
}

.navigation li a:hover {
    color: #e0e6d9;
}
   
.logo:hover {
    transform: rotate(180deg) 
}    


.home-banner {
    background-image: url("jesperhero.webp"); 
    height: 53vh;
    width: 150ch
    background-position; center:
    padding-right; 5ch;}
.home-banner-socialmedia {
    background-image: url("socialmedia.jpg"); 
    height: 1000px;
    width: 1000ch
    background-position; center;
    padding-right: 5ch;
}

.main-footer {
    min-height: 3ch;
    background-color: #ffffff;
}
.social-nav{
    text-align: right;
}

.social-nav a:hover{
    background-color: #ffffff;

}
.contact-banner {
    background-image: url("jorg-angeli-eW7v3RTVnqM-unsplash.jpg");
    height: 85vh;
    background-position: center;
    text-align: center;
    font-size: large;
}
.copyright{
    text-align: center;
}

#contact {
    text-align: center;
}
.label {
    display: block;
}
.input{
    min-width: 25%;
    box-sizing: border-box;
    padding: 1ch;
    margin-bottom: 1.5ch;
}
.buttons{
    text-align: center;
    padding-bottom: 1em;
}



   
    
    
    




